h1 {
 text-align: center;
 margin:inherit;
 font-size: 100px;
 border-style: double;
 border-width: thick;
    border-color:white;
    color:white;
}
body {   
    background-image:url(dark_embroidery.png);
}
h2 {
 color: white;
 font-size: 40px;
 text-decoration: underline;
}
ul {
 color:white;
}
li {
 color:white;      
}
h3{
 color:white;
    font-size: 30px
}
h4{
 color:white;   
}
h5 {
 color:white;
 font-size: 20px;
 text-decoration: underline;
}
p {
 color:white;   
    
}